<%- include('header') -%>
<h1><%= title %></h1>
<div style="display: flex; align-items: center">
  <p style="padding: 0 0.5em 0 0">Welcome to please view current inventory</p>
  <a href="/home/inventory"><h2 style="margin: 0">Here!</h2></a>
</div>
<%- include('footer') -%>
